app:
  name: "Rest API"
  version: "0.1.0"
  description: "A simple Rest API"
  author: "dodyn"
  port: 8080

database:
  host: "localhost"
  port: 3306
  username: ""
  password: ""
  name: ""
  max_connections: 100
  max_idle_connections: 10

redis:
  host: "localhost"
  port: 10463
  password: ""
  db: 0
  timeout: 5s

logging:
  level: "info"
  format: "json"